@media(max-width: 1200px){
    .menu__item + .menu__item {
        padding-left: 20px;
    }
    .header__box {
        margin-right: 5px;
    }
    .categories__inner {
        justify-content: space-around;
    }
}
@media(max-width: 1100px){
    .menu__item + .menu__item {
        padding-left: 20px;
    }
    .header__box {
        margin-right: 5px;
    }
    .footer__top-inner {
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .catalog__inner-list {
     justify-content: space-around;   
    }
}
@media(max-width: 968px){
    .menu__item + .menu__item {
        padding-left: 20px;
    }
    .header__box {
        margin-right: 5px;
    }
    .header__bottom {
        display: none;
    }
    .menu__list {
        display: none;
    }
    
     .menu__mobile-line-wrapper {
        display: block;
        font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

/* Основной текст */

color: #2F3035;
padding: 15px 0 15px 15px;

background: #F0F0F4;
/* overflow-x: scroll;  */
    }
    .menu__mobile-line {
     
      width: 450px;   

    }

    .menu__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    }
    .menu__btn-line {
        width: 33px;
height: 3px;
border: none;
background: #2F3035;
border-radius: 3px;
margin: 8px 0;
    }
/* .footer__top-inner {
    flex-wrap: wrap;
    justify-content: space-around;
} */
.product-card__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.product-card__tabs {
  display: none;
}
.product-card__content {
  order: -1;
}
.product-card__btn-mobile {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.product-card__img-box {
  width: 100%;
}
.product-card__title {
  font-weight: 700;
font-size: 20px;
line-height: 24px;
width: 288px;
}
/* .product-card__img {
  display: none;
}
.product-item__img-mobile {
display: block;
} */
.product-card__img {
  width: 100%;
}
.product-card__buttons a + a {
margin-left: 10px;
}

}
@media(max-width: 733px){
   
    .search__tabs {
    margin-bottom: 25px;
    display: flex;
flex-direction: column;
justify-content: space-between;
}
  
}
@media(max-width: 640px){
    .header_adress {
        display: none;
    }
    .search__content-btn {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 0;    
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;

        width: 50px;
height: 50px;
line-height: 10px;
padding: 20px 10px;
background-color: #F0F0F4;
/* z-index: 12; */
    }
    .search__content-input {
    width: 600px;
    padding-right: 50px;
    margin-right: 50px;    
    }
    .footer__top-item {
        width: 100%;
    }
    .footer-social {
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .catalog__inner {
        flex-wrap: wrap;
    }
    .card__list-item {
     display: block;
    }
    .card__label-p {
    margin-left: 0px;
    }
    .card__tab-box {
background: transparent;
  display: flex;
  flex-direction: column;
    
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px 0;
margin-bottom: 5px;
}
.card-tabs {
    margin-bottom: 20px;
            
}

}